## MANAGED BY GITLAB
## --------------------------------------------------------------
## For more information on this file, see:
##         http://www.usefulutilities.com/support/cfg/
## Maintained by DUL AUXS and DUL DevOps (Software Services)
## - Derrek Croney
###########################################################
# Basic configuration information

# NOTE:
# The files referenced by this config are managed in separate 
# GitLab repositories.
IncludeFile cookielaw.cfg

# These are the domains/urls/etc that we (DUL ITS) 
# have identified to be safe for the purposes of redirects
# NOTE: getitatduke.library.duke.edu was added on 5/2/2019
RedirectSafe *.duke.edu

IncludeFile hostinterfacedetails.cfg
IncludeFile serverspecificconfigs.cfg
PidFile /var/run/ezproxy.pid

#Enable Intrusion Detection
IntruderAttempts 20
IntruderIPAttempts -interval=5 -expires=15 20
IntruderUserAttempts -interval=5 -expires=15 10

#Max User connections & Sessions
MaxVirtualHosts 20110
MaxSessions 1000

Audit Most

Option StatusUser
Option MenuByGroups

# Option LogSession
# we want to log both user and session; according to docs, set logging to user, then include special expression to get session IDs (see serverspecificconfigs for log-file-location)
Option LogUser
# logformat with NetIDs and session ids
# LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b
# logformat with NetIDs and session ids, combined format
LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b "%{Referer}i" "%{User-agent}i"

UsageLimit -enforce -interval=30 -expires=30 -MB=500 Global

LogSPU -strftime /var/log/ezproxy/spu%Y%m%d.log {% raw %}%{%Y/%m/%d:%H:%M:%S}t{% endraw %} %h %u %{ezproxy-spuaccess}i %v %U

##HTTPHeader -global -request -edit X-Frame-Options SAMEORIGIN

##########################################
# Define any restricted-access resources (placed above any ip-exclusions so that all users must authenticate)
IncludeFile restrictedresources.cfg

##########################################
# Define ILLiad inclusion (placed above any ip-exclusions so that all users must authenticate)
IncludeFile illiad.cfg

# include Professional School Library stanzas
IncludeFile ford.cfg
IncludeFile lawschool.cfg
IncludeFile medcenter.cfg

##########################################
# Define the most generic group for most databases (other group-names can be used below for more other groupings to restrict access further to those databases)
Group CommonLib

##########################################
# Add any legacy database definitions whose access always require authentication, even while on-campus (Ford, Law)
IncludeFile exceptionaldatabases.cfg

# It was decided in a meeting on 11/24/2014 that this file should appear above the IP exceptions/exclusions
IncludeFile databases-form-based.cfg

##########################################
# Define the range of IP addresses here that constitute "on-campus" for purposes of database/vendor access
ExcludeIP 152.3.0.0-152.3.255.255
ExcludeIP 152.16.0.0-152.16.255.255
ExcludeIP 67.159.64.0-67.159.127.254
ExcludeIP 198.86.29.0-198.86.29.255

# new range from Marine Library
ExcludeIP 10.236.120.1-10.236.120.255

## Law School wired computer need this exclusion
## Request submitted by Sean Chen (TASK0989288)
ExcludeIP 10.136.168.0-10.136.171.255

## Library Visitor WIFI IP address
## ExcludeIP 198.86.29.4

# VPN CONTEXTS / IP-RANGES
# =============================================
# Provide any exception in these ip-ranges that should be viewed as off-campus (e.g. VPN connections)
# NOTE: The following entry is confirmed to be the full-tunnel "library-resources" VPN profile, which should not be viewed as off-campus
# UPDATED IP range for "library-resources", provided by IdMS on
# December 10, 2014
#
IncludeFile vpncontexts.cfg
IncludeFile wirelesscontext.cfg

# Provide IP range for DKU local network
IncludeIP 103.252.172.0-103.252.175.255

# Define any SPUEdit settings for Shib-based access
IncludeFile spueditrules.cfg

# provide other include file directive, for manually-maintained vendors 
# (e.g. databases) and generated-list vendors (e.g. e-journals)
IncludeFile database.cfg
IncludeFile e-journals.cfg

# Allow DKU student access to titles previously defined in exceptionalDatabases
IncludeFile dku_blacklist.cfg

# Define a group and collection of stanzas that are off-limits
# to Sponsored Accounts (affiliates) who are granted access
# IncludeFile affiliates-restricted.cfg
IncludeFile login-required.cfg
IncludeFile sponsored-dku-block.cfg

# Many sites use dx.doi.org when linking from one database to another.
# Useful Utilities recommends leaving this definition in your configuration
# file.  The special -hide option prevents this from showing up in your
# database menu
Title -hide Digital Object Identifier System
URL http://dx.doi.org
Domain doi.org

