## MANAGED BY ANSIBLE -- manual edits will be overriden
## ----------------------------------------------------

{% if ezproxy_shibuser.debug %}
# Toggle this on/off by using comments
Debug
{% endif %}

# Make sure to log users using their NetIDs
# Set login:loguser = auth:eduPersonPrincipalName
If auth:eduPersonPrincipalName ne ""; Set login:loguser = auth:eduPersonPrincipalName

Group +CommonLib +Illiad

# First, deny access to alumni and/or no-affiliation users
# But do so with a message that directs the person to DUL's Alumni Proxy instance
If Any(auth:eduPersonPrimaryAffiliation, "alumni"); Deny deny.htm

# Leverage the newly created OIT "Policy Group" that identifies 
# all current staff/students/faculty at Duke and DKU, as well as the "included affiliates" and
# our own managed "excludes" list
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:library_access$/") == 0 && AnyRE(auth:isMemberOf, "/ezproxydeny_excludes/") == 0 && AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:group-manager:roles:library-access-affiliate-includes$/") == 0; Deny deny.htm

Msg "verified user"

# Deny any authenticated person that does not have a Primary Affiliation
# If Null(auth:eduPersonPrimaryAffiliation) == 1; Deny deny.htm

# Deny access to anyone who's been manually added to the "ezproxydeny" list
# This now includes "temporary" blacklisted NetIDs 
# (typically added by Derrek Croney on behalf of OIT or Carlton Brown on behalf of Fuqua)
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:library:ezproxy:ezproxydeny/"); Deny deny.htm

If AnyRE(auth:isMemberOf, "/(ezproxy-dku-user|current_students_kunshan|ezproxyrestricted)/") == 0 {
	Group +DKU_Blacklist
	Msg "Added DKU Blacklist
}

If AnyRE(auth:isMemberOf, "/(access-additions|affiliate-includes)/") == 0 && Any(auth:eduPersonPrimaryAffiliation, "affiliate") == 0 {
  Msg "Added AffiliatesRestricted to user access"
	Group +AffiliatesRestricted
}

If AnyRE(auth:isMemberOf, "/(ezproxy-dku-user|library-access-affiliate-includes)/") == 0 {
  Group +SponsoredDKUBlock
  Msg "Adding SponsoredDKUBlock group"
}

Group +FactivaDB

If Count(auth:eduPersonPrimaryAffiliation) == 0;
	Group -Illiad +MedCenter_Restricted;

If Count(auth:eduPersonPrimaryAffiliation) == 0 {
	Msg "No primary affiliation"
	Stop
}

# Now provide group-based access to staff/faculty/students/affiliates/emeritus
# changed from eduPersonScopedAffiliation to eduPersonPrimaryAffiliation
# appears that OIT restructured some of their directory/ldap settings/rules.
# also removed the @duke.edu from the string test (05/03/18 - dlc32)
#If AnyRE(auth:eduPersonAffiliation, "/^(staff|faculty|student|affiliate|emeritus)/"); Group +CommonLib +Illiad +FactivaDB +MedCenter_Restricted

If AnyRE(auth:eduPersonPrimaryAffiliation, "/^(staff|faculty|student|affiliate|emeritus)$/"); 
  Group +MedCenter_Restricted

# These 3 lines are DEPRECATED (will review after Alma is live)
# This line is meant to address any staff at DKU who is supposed to have
# access to titles
# If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:library:ezproxy:ezproxydeny_excludes$/"); Group +CommonLib +Illiad +FactivaDB

# Law School 
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:law:(staff:law-allstaff|faculty:Law-All-Faculty|students:lawstudentslist)$/") {
  Msg "Adding Law group"
  Group +Law
}

# Med School
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:ezproxy-dhe-access$/") == 1 {
  Msg "Adding MedCenter group"
  Group +MedCenter
}

# following restrictions added per Carlton Brown request February 2013
If Any(auth:eduPersonPrimaryAffiliation, "student") && AnyRE(auth:duStatusSISS, "/^(LOA|Suspended)$/i") {
  Msg "Removing 'CommonLib' from suspended student"
  Group -CommonLib
  Stop
}

Group +RestrictedResources

{% include "templates/ezproxy/self_managed/shibuser_admin.txt.j2" ignore missing %}
