## MANAGED BY ANSIBLE: Manual edits will be overriden
## --------------------------------------------------------------
## For more information on this file, see:
##         http://www.usefulutilities.com/support/cfg/
## Maintained by Duke University Libraries Core Services
## - Derrek Croney
###########################################################
# Basic configuration information

# These are the domains/urls/etc that we (DUL ITS) 
# have identified to be safe for the purposes of redirects
# NOTE: getitatduke.library.duke.edu was added on 5/2/2019
RedirectSafe *.duke.edu

IncludeFile hostinterfacedetails.cfg
IncludeFile serverspecificconfigs.cfg
PidFile /var/run/ezproxy.pid

#Enable Intrusion Detection
IntruderAttempts 20
IntruderIPAttempts -interval=5 -expires=15 20
IntruderUserAttempts -interval=5 -expires=15 10

#Max User connections & Sessions
MaxVirtualHosts {{ ezproxy_config.max_virtual_hosts | default('20110') }}
MaxSessions {{ ezproxy_config.max_sessions | default('1000' )}}

Audit Most

Option StatusUser
Option MenuByGroups

# Option LogSession
# we want to log both user and session; according to docs, set logging to user, then include special expression to get session IDs (see serverspecificconfigs for log-file-location)
Option LogUser
# logformat with NetIDs and session ids
# LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b
# logformat with NetIDs and session ids, combined format
LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b "%{Referer}i" "%{User-agent}i"

# UsageLimit -enforce -interval=30 -expires=30 -MB=500 Global
UsageLimit -enforce -interval={{ ezproxy_config.usage_limit.interval | default('15') }} -expires={{ ezproxy_config.usage_limit.expires | default('30') }} -MB={{ ezproxy_config.usage_limit.megabytes | default('200') }} Global

LogSPU -strftime {{ ezproxy_log_dir }}/spu%Y%m%d.log {% raw %}%{%Y/%m/%d:%H:%M:%S}t{% endraw %} %h %u %{ezproxy-spuaccess}i %v %U

# HTTPHeader -global -request -edit X-Frame-Options SAMEORIGIN

Group CommonLib

# VPN CONTEXTS / IP-RANGES
# =============================================
# Provide any exception in these ip-ranges that should be viewed as off-campus (e.g. VPN connections)
# NOTE: The following entry is confirmed to be the full-tunnel "library-resources" VPN profile, which should not be viewed as off-campus
# UPDATED IP range for "library-resources", provided by IdMS on
# December 10, 2014
#
IncludeFile vpncontexts.cfg
IncludeFile wirelesscontext.cfg

# Provide IP range for DKU local network
ExcludeIP 103.252.172.0-103.252.175.255
ExcludeIP 180.208.59.1-180.208.59.255

##########################################
# Define the range of IP addresses here that constitute "on-campus" for purposes of database/vendor access
IncludeIP 152.3.0.0-152.3.255.255
IncludeIP 152.16.0.0-152.16.255.255
IncludeIP 67.159.64.0-67.159.127.254

# Define any SPUEdit settings for Shib-based access
# IncludeFile spueditrules.cfg

# provide other include file directive, for manually-maintained vendors 
# (e.g. databases) and generated-list vendors (e.g. e-journals)
IncludeFile dku.cfg
IncludeFile e-journals.cfg
IncludeFile dku_blacklist.cfg

# Many sites use dx.doi.org when linking from one database to another.
# Useful Utilities recommends leaving this definition in your configuration
# file.  The special -hide option prevents this from showing up in your
# database menu
Title -hide Digital Object Identifier System
URL http://dx.doi.org
Domain doi.org

