## MANAGED BY ANSIBLE -- manual edits will be overriden
## ----------------------------------------------------
{% if ezproxy_shibuser.debug %}
# Toggle this on/off by using comments
Debug
{% endif %}

# Make sure to log users using their NetIDs
# Set login:loguser = auth:eduPersonPrincipalName
If auth:eduPersonPrincipalName ne ""; Set login:loguser = auth:eduPersonPrincipalName

# Leverage the newly created OIT "Policy Group" that identifies 
# all current staff/students/faculty at Duke and DKU, as well as the "included affiliates" and
# our own managed "excludes" list
If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:library_access$/") == 0 && AnyRE(auth:isMemberOf, "/ezproxydeny_excludes/") == 0 && AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:group-manager:roles:library-access-affiliate-includes$/") == 0; Deny deny.htm

Group +CommonLib

{% include "templates/ezproxy/self_managed/shibuser_admin.txt.j2" ignore missing %}

## Also remove FactivaDB from DKU students/staff/faculty whose Primary Affiliation is "affiliate"
# If AnyRE(auth:isMemberOf, "/^urn:mace:duke.edu:groups:policies:library_resources:ezproxy-dku-users$/") == 0; Deny deny.htm

# First, deny access to alumni and/or no-affiliation users
# But do so with a message that directs the person to DUL's Alumni Proxy instance
If Any(auth:eduPersonPrimaryAffiliation, "alumni"); Deny deny.htm

# Deny any authenticated person that does not have a Primary Affiliation
If Null(auth:eduPersonPrimaryAffiliation) == 1; Deny deny.htm

