##  For more information on this file, see:
##          http://www.oclc.org/support/documentation/ezproxy/cfg/
##                                   AND  
##          http://www.oclc.org/support/documentation/ezproxy/db/

##  In this file, lines starting with # are comments.  The lines starting
##  with ##  are meant solely as comments, whereas the lines starting with
##  only # are followed by example entries.


##  PLEASE NOTE: IF YOU CHANGE THIS FILE, you must restart EZproxy to make
##  those changes take effect. == see http://www.oclc.org/support/documentation/ezproxy/restart.htm


# ****************************EZproxy options *****************************************

RedirectSafe shib.oit.duke.edu
PidFile /var/run/ezproxy.pid

# THESE TWO(2) FILES ARE DEPLOYED FROM THIS GITLAB REPOSITORY:
# https://gitlab.oit.duke.edu/devops/antsy
# -----
IncludeFile hostinterfacedetails.cfg
IncludeFile serverspecific.cfg

# THESE settings are deployed by a separate GitLab repository

#Enable Intrusion Detection
IntruderAttempts {{ ezproxy_config.intrusion_attempts | default('20') }}

#Max User connections
MaxVirtualHosts {{ ezproxy_config.max_virtual_hosts | default('20110') }}
MaxSessions {{ ezproxy_config.max_sessions | default('1000') }}

Audit Most

Option StatusUser
# Option LogSession

# we want to log both user and session; according to docs, set logging to user, then include special expression to get session IDs (see serverspecificconfigs for log-file-location)
Option LogUser
# logformat with NetIDs and session ids
# LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b
# logformat with NetIDs and session ids, combined format
LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b "%{Referer}i" "%{User-agent}i"

# UsageLimit -enforce -interval=15 -expires=120 -MB=100 Global
# We'll use the same settings from our original proxy environment
UsageLimit -enforce -interval={{ ezproxy_config.usage_limit.interval | default('15') }} -expires={{ ezproxy_config.usage_limit.expires | default('30') }} -MB={{ ezproxy_config.usage_limit.megabytes | default('200') }} Global

# LogFormat %h %l %u %t "%r" %s %b
LogFormat %h %{ezproxy-session}i %u %t "%r" %s %b "%{Referer}i" "%{User-agent}i"

# Finally, include the stanzas in the file below:
IncludeFile alum.cfg

